{% extends "base.html" %}

{% block content %}
    <div class="company">
        <h1 class="company__title"> Welcome to the {{ company.name }} site! </h1>
        <p class="company__disclaimer">You can see the cars available in the following list</p>
    
        <ul class="company__cars">
            {% for car in object_list %}
                <li class="company__car">
                    <h3>{{ car.model }}</h3>
                    <p><b>Year:</b>  {{ car.year }}</p>
                    <p><b>Color:</b>  {{ car.color }}</p>
                    <h4><b>Stock:</b> {{ car.stock }}</h4>
                </li>
            {% endfor %}
        </ul>
    </div>
    
{% endblock content %}